<!-- Your form goes here! -->
<form accept-charset="UTF-8" action="/searches" method="post">

  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <%= search_field_tag 'q' %>
  <input type="submit" value="Search">
  <!-- <%= submit_tag "Search" %> -->
</form>